/* natural box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* UTILITIES */

/* hides an element on screen, but not from screen readers */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
#tag {
  position: fixed;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
}
:root {
  --menu-color: #d0b49f;
  --teal: #39918c;
  --blue: #2f435a;
  --caramel: #ab6b51;
  --brown: #523a28;
}

/* no break */
.nobr {
  white-space: nowrap;
}

/* START STYLES HERE */
main {
  transition: margin-left 0.5s;
  padding: 0;
}
body {
  margin: 0;
  background-color: #ededed;
  padding-bottom: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
a,
td,
figcaption {
  font-family: 'IBM Plex Sans', sans-serif !important;
  font-size: 1.5em;
}
h1,
h2 {
  text-align: center;
  font-weight: 200;
  padding: 0.5em 1.5em;
  margin: 0;
  font-size: 5rem;
}
h2 {
  padding-top: 55px;
  font-size: 3rem;
}
.txt {
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 3rem;
  font-weight: 400px;
  font-weight: bold;
  text-shadow: 2.5px 2.5px 0px var(--teal);
}

/* HEADER */
header h1,
.container {
  /* should stretch up to 800px wide and center on the screen */
  text-align: center;
  width: 800px;
}

/* NAV */
.navbar {
  position: sticky;
  top: 0;
  background-color: white;
  /* border-bottom: black 1.5px solid; */
  filter: drop-shadow(0px 0.5px 5px black);
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif !important;
  padding: 15px 15px 15px 15px;
}
.navbar a {
  padding: 10px 15px;
  font-size: larger;
  color: var(--blue);
  display: inline;
  padding-right: 50px;
}

/* LINKS */
a:link,
a:visited {
  text-decoration: none;
  font-weight: bold;
  font-family: 'Roboto Condensed';
}

/* tw */
.typewrite {
  color: var(--blue) !important;
  font-weight: 500 !important;
  font-family: 'IBM Plex Sans', sans-serif !important;
}
.twBox {
  margin: 0.5em 0.5em;
  /* text-shadow: 10px 10px 10px #d3d3d3; */
}
.wrap {
  padding: 1px 1px 1px 1px;
}

/* Images */
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.column {
  flex: 50%;
  max-width: 25%;
  padding: 10px 10px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  max-height: fit-content;
  border: black 3px solid;
  box-shadow: 4px 4px var(--teal);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* MEDIA QUERIES FROM SMALLEST TO LARGEST = MOBILE FIRST */
/* Extra small devices (portrait phones, less than 576px)
  No media query for `xs` since this is the default */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* MEDIA QUERIES FROM LARGEST TO SMALLEST */
/* Extra small devices (portrait phones, less than 576px) */
/* @media (max-width: 575.98px) {
  
  } */

/* Small devices (landscape phones, less than 768px) */
/* @media (max-width: 767.98px) {
  
  } */

/* Medium devices (tablets, less than 992px) */
/* @media (max-width: 991.98px) {
  
  } */

/* Large devices (desktops, less than 1200px) */
/* @media (max-width: 1199.98px) {
  
  } */

/* Extra large devices (large desktops)
  No media query since the extra-large breakpoint has no upper bound on its width */
